apps
config
doc
guideline
lib
log
report
resource
tools
temp

*.pyc
*.pyo
*.list
*.apk

.*

src/util/
src/preprocess/injector/injector_gen/android.jar
src/preprocess/injector/injector_gen/baksmali.jar
src/preprocess/factory/reactor
src/crawler/apks/
